*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.audio-player {
  &__panel {
    width: 100%;
  }
  &__controls{
    display: inline-block;
    width: 100%;
    padding: 30px 50px;
  }
  &__audio-track {
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    height: 7px;
    background-color: #dddddd;
    margin: 10px 0
  }
  &__song-author{
    font-size: 38px;
    font-weight: bold;
    color: gray;
  }
  &__track-name{
    font-size: 18px;
    color: #6c0c0c;
  }
  &__time-progress{
    border-radius: 25px;
    transition: .3s ease-in-out;
    width: 0;
    height: 7px;
    background-color: #474747;
  }
  &__btn-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    div{
      display: flex;
      button{
        margin-right: 10px;
      }
    }
  }
  &__btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;

    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__btn-active{
    svg{
      path{
        fill: green;
      }
    }
  }
  &__sound-area{
    display: inline-block;
    position: relative;
  }
  &__volume{
    cursor: pointer;
    background-color: #fad2d2;
    border-radius: 7px;
    height: 4px;
    width: 100px;
  }
  &__volume-lvl{
    transition: .3s ease-in-out;
    position: absolute;
    border-radius: 7px;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #a77ef1;
  }
  &__songs-list{
    padding: 10px 50px;
    margin-top: 20px;
    cursor: pointer;
    ol li {
      cursor: pointer;
      transition: .3s ease-in-out;
      &:hover{
        color: green;
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
  &__sound-controller{
    display: flex;
    align-items: center;
  }
}




  .duration-block{
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
  }


  .hide{
    display: none;
  }
  .show{
    display: block;
  }

  .track-img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  .track-item{
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img {
      margin-right: 15px;
    }
  }

.artist-name{
  font-size: 38px;
  color: gray;
  font-weight: bold;
}
.track-name{
  font-size: 18px;
}

.active-song{
  padding: 15px;
  border: 1px solid #60c660;
  border-radius: 10px;
}

@media (max-width: 692px){
  .audio-player__controls {
    padding: 15px 10px;
  }
  .audio-player__btn-wrapper {
    padding: 15px 0;
  }
}
@media (max-width: 444px){
  .audio-player__btn-wrapper{
    flex-direction: column-reverse;
    align-items: center;
  }
  .audio-player__songs-list {
    padding: 10px 10px;
  }
  .active-song {
    padding: 5px;
  }
  .artist-name {
    font-size: 34px;
  }
}
