*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#controls{
    display: inline-block;
}
.audio-track {
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    height: 7px;
    background-color: #dddddd;
    margin: 10px 0
}

.time {
    border-radius: 25px;
    transition: .3s ease-in-out;
    width: 0;
    height: 7px;
    background-color: #474747
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}
.btn svg {
    width: 30px;
    height: 30px;
}

.songs-list{
    padding: 10px 50px;
    margin-top: 20px;
    border: 1px solid black;
    max-height: 150px;
    overflow-y: auto;
}

.songs-list ol li{
    cursor: pointer;
    transition: .3s ease-in-out;
}
.songs-list ol li:hover{
    color: green;
}
.songs-list ol li:not(:last-child){
    margin-bottom: 10px;
}

.active-song{
    color: red;
    font-size: 22px;
}

.duration-block{
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
}

.btn.sound:hover + .sound-area > .volume{
    display: block;
}
.volume-lvl:hover, .volume:hover{
    display: block;
}
.sound-area{
    display: inline-block;
    position: relative;
}
.volume{
    display: none;
    position: absolute;
    top: -17px;
    left: -7px;
    cursor: pointer;
    background-color: #fad2d2;
    border-radius: 7px;
    height: 8px;
    width: 100px;
}
.volume-lvl{
    transition: .3s ease-in-out;
    position: absolute;
    border-radius: 7px;
    top: 0;
    left: 0;
    height: 8px;
    width: 0;
    background-color: #a77ef1;
}

.hide{
    display: none;
}


.playBtnActive{
    fill: #37ea54;
}

.impulse-active{
    background-color: yellow;
}
